.chat-message{
    display: flex;
    margin-bottom: 1px;
    .user-ava{
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-right: 5px;
    }
    .message{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        .message-sender-info{
            display: flex;
            .message-user{
                font-size: 14px;
                max-width: 120px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .message-time{
                color: gray;
                font-size: 9px;
                padding: 5px 5px 0;
            }
        }
        .message-content{
            color: black;
            line-height: 1;
            font-size: 13px;
            
            .message-media{
                img{
                    object-fit: cover;
                    max-width: 100%;
                }
            }

            .message-footer{
                align-self: flex-start;
                word-break: break-all;
                display: flex;
            }

            .message-text
            {
                border-radius: 3px;
                padding: 2px 3px;
                background-color: aliceblue;
                display: inline-block;
            }

            .message-status{
                align-self: flex-end;
                
                &:before{
                    content: '\e91c';
                    font-size: 12px;
                    margin-left: 3px;
                    display: inline-block;
                    font-family: icomoon;
                    font-weight: 900;
                    color: $lighterGray;
                }

                &.readed
                {
                    &:before{
                        color: $mainColor;                        
                    }
                }
            }

        }
    }
}