remote.sh
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
frontend
tests
composer.json
composer.lock
config/database.php
.babelrc
webpack.mix.js
resources/assets/*
config/image.php