.user-add-post{
    padding: 10px;
    margin-top: $sectionTop;
    @include section-border-radius();
    background-color: $sectionBg;
    form{
        width: 100%;
        margin: 0;
        position: relative;
        input{
            width: 100%;
            border: none;
            background-color: $sectionBg;
            padding: 5px;
            color: $white;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: $white;
            }
        }
        .user-actions{
            position: absolute;
            right: 0;
            top: 6px;
            a{
                color: $white;
                text-decoration: none;
            }
        }
    }
}

