.game-profile{
    @extend .event-profile;
    ul.social-list{
        margin: 0 0 10px;
        padding: 0;
        display: block;
        li {
            list-style: none;
            display: inline-block;
            a{
                display: inline-block;
                line-height: 0;
                text-decoration: none;
                padding: 14px;
                background-color: $white;
                border-radius: 50%;
                margin-left: 5px;
                color: inherit;
                &:hover{
                    color: inherit;
                }
            }

            &:first-child{
                color: #662D90;
            }
            &:nth-child(2){
                color: #ff0000;
            }
            &:last-child{
                color: #171a21
            }
        }
    }

    .content-bottom{
        a{
            text-decoration: none;
            color: inherit;
        }
    }

    .profile-actions{
        margin-bottom: 10px;
    }

    .wotes{
        position: relative;
        margin-left: 15px;
        width: 150px;
        .wotes-avg{
            position: absolute;
            left: 0;
            top: -13px;
            padding: 12px;
            background-color: $mainColor;
            border-radius: 50%;
            z-index: 1;
        }
        .wotes-stars{
            background-color: $lightGray;
            margin-left: 44px;
            height: 20px;
            position: relative;
            -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 40%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 90% 0%, 100% 40%, 100% 100%, 0% 100%);
            .wote-mask{
                z-index: 2;
                position: absolute;
                background-image: url("data:image/svg+xml;charset=utf8,<svg width='30px' height='30px' viewBox='0 0 30 30' fill='rgb(32, 34, 37)' xmlns='http://www.w3.org/2000/svg'><path d='M24.414,13.562 L19.571,17.234 L21.331,23.052 C21.81,24.636 21.1,25.155 19.739,24.208 L14.75,20.737 L9.761,24.208 C8.402,25.154 7.689,24.638 8.169,23.052 L9.929,17.234 L5.086,13.562 C3.767,12.562 4.036,11.724 5.693,11.691 L11.77,11.567 L13.766,5.826 C14.31,4.262 15.189,4.26 15.733,5.826 L17.729,11.567 L23.807,11.691 C25.461,11.724 25.735,12.561 24.414,13.562 L24.414,13.562 Z M-2,34 L34,34 L34,-2 L-2,-2 L-2,34 Z'></path></svg>");
                background-size: 20% 100%;
                top: 0;
                right: 5px;
                bottom: 0;
                left: 5px;
            }
            .wote-bar{
                z-index: 1;
                position: absolute;
                top: 1px;
                left: 0;
                bottom: 0;
                background: $mainColor;
                max-width: 95%;
            }
            .wote-filler{
                width: 5px;
                display: inline-block;
                float: right;
                background-color: $darkGray;
                height: 20px;
                &:first-child{
                    float: left;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}

.reviews{
    
    .positive,.negative{
        cursor: pointer;
        font-size: 35px;
    }

    .positive{
        color:green;
    }

    .negative{
        color: red;
    }

    hr{
        background-color: $lightGray;
        margin: 10px -15px;
    }

    .game-review{
        background-color: $gameReview;
    }

    .game-review-header{
        width: 100%;
        background-color: $postDelimiter;
        line-height: 1;

        td:first-child{
            text-align: center;
            background-color: $mainGray;
            width: 25px;
        }
        td:last-child{
            text-align: center;
            width: 25px;
        }

        &.vote-positive{
            .negative{
                display: none;
            }
        }
        &.vote-negative{
            .positive{
                display: none;
            }
        }

        .icon-comment{
            font-size: 12px;
        }

        .positive,.negative{
            font-size: 14px;
        }
    }

    .game-review-content{
        p{
            padding: 5px;
            font-size: 11px;
        }
    }
}

.review-feed{
    margin-top: -15px;

    hr{
        background-color: $mainColor;
        height: 3px;
    }

    .filter{
        
        border: 1px solid #313131;

        a{
            color: $white;
            display: block;
            padding: 10px;
            line-height: 1;
            font-size: 12px;
            &.active{
                background-color: rgba(241,90,36,0.1);
            }
        }

        text-align: center;
        width: 100%;
        background-color: $postBack;

        td{
            border-right: 1px solid $mainColor;
        }

        td:last-child{
            border-right: none;
        }
    }

    .comments{
        padding-top: 15px;
        background-color: transparent;
        .comment{
            background-color: $postBack;
            border-radius: 3px;
            .review-type{
                background-color: $postDelimiter;
                padding: 3px;
                border-radius: 1px;
                &.negative{
                    .icon-finger-up{
                        display: none;
                    }
                    .type-recommend{
                        display: none;
                    }
                }
                &.positive{
                    .icon-finger-down{
                        display: none;
                    }
                    .type-not-recommend{
                        display: none;
                    }
                }

                .icon-finger-up{
                    color: $green;
                }

                .icon-finger-down{
                    color: $red
                }
                .icon-comment{
                    color: $mainGray;
                }
                .d-inline-block{
                    padding: 0 5px;
                }
            }
        }
    }
}





// --------------------------------event-------------------------------

.event-schedule
{
    border: 1px solid #354247;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #14191C;
    .event-schedule-left
    {
        text-align: center;
        font-weight: 100;
        h3
        {
            font-weight: 100;
            color:$mainColor;
            font-size: 2vw;
            margin: 0px;
        }
        .event-schedule-number
        {
            background:url("../img/schedule-event-img.svg ");
            background-position: center;
            font-size: 2.5vw;
            background-repeat: no-repeat;
            height: 80px;
            line-height: 100px;
            margin: 10px 0px;
        }
        h4
        {
            font-size: 0.8vw;
            color:$mainColor;
            margin: 0px;
        }
        h5
        {
            font-size: 0.8vw;
            margin: 0px;
        }
    }
    .event-schedule-right
    {
        color: $mainGray;
        .event-schedule-date
        {
            font-size: 0.8vw;
            margin-bottom: 10px;
            span
            {
                margin-right: 10px;
            }
            a
            {

                color:$mainColor;
                margin: 0px;
            }
        }
        .event-schedule-buttons
        {
            margin:15px 0px;
            .left-button
            {

                color:$mainGray;
                background:transparent;
                border-radius: 5px;
                border:1px solid $mainGray;
                height: 35px;
                line-height: 35px;
                padding: 0px 2vw;
                display:inline-block;
                margin:0px 15px ;
                cursor: pointer;
                &:hover
                {
                    background: #ff4800;
                    color:$mainGray;
                    border:1px solid $mainGray;
                }
            }
            .right-button
            {
                background: #ff4800;
                margin-top: 10px;
                border-radius: 5px;
                border:1px solid $mainGray;
                height: 35px;
                line-height: 35px;
                padding: 0px 2vw;
                display:inline-block;
                margin:0px 15px ;
                cursor: pointer;
                &:hover
                {
                    color: $mainGray;
                    background:transparent;
                }
            }
        }
    }

}


.event-sugested-friend
 {
     .event-sugested-friend-header
     {
         border-bottom: 1px solid #313131;
         text-align: left;
         padding-left: 15px;
         margin-bottom: 10px;
         margin: 0px -15px;
         text-transform: uppercase;
         font-size: 12px;
         height: 35px;
         line-height: 30px;
         padding-bottom: 10px;
         font-weight: 900;
         letter-spacing: 0.7px;
     }
     .event-sugested-friend-content
     {
         .event-sugested-friend-box
         {
             margin: 15px 0px;
             height: 30px;
             line-height: 30px;
             position: relative;
             width: 100%;
             display: flex;
             .sugested-friend-img-content
             {
                 flex-shrink: 1;
                 .sugested-friend-img
                 {

                     height: 30px;
                     line-height: 30px;
                     width: 30px;
                     -webkit-border-radius: 100%;
                     -moz-border-radius: 100%;
                     border-radius: 100%;
                     background-color: $mainColor;
                     img
                     {
                         object-fit: cover;
                         max-width: 100%;
                         border-radius: 100%;
                     }
                 }
             }
             .sugested-friend-name
             {
                 height: 30px;
                 line-height: 15px;
                 small {
                     display: inline-block;
                     padding: 0px 10px;
                     height: 15px;
                     line-height: 15px;
                     font-size:13px;
                     &.name
                     {
                         font-size:12px;
                     }
                 }
             }
             .sugested-friend-button
             {
                 height: 20px;
                 line-height: 20px;
                 display: inline-block;
                 padding: 0px 5px;
                 -webkit-border-radius: 3px;
                 -moz-border-radius: 3px;
                 border-radius: 3px;
                 background: $mainColor;
                 border:1px solid $mainColor;
                 color:$whitecolor;
                 font-size:11px;
                 cursor:pointer;
                 &:hover
                 {
                     background:transparent;
                 }
             }
         }
     }

     .event-sugested-all
     {
         text-align: center;
         a
         {
             color: $mainColor !important;
             font-size:10px;
             font-weight: 100;
         }
     }
 }







.related-events
{
    .related-events-header
    {
        border-bottom: 1px solid #313131;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 10px;
        margin: 0px -15px;
        text-transform: uppercase;
        font-size: 12px;
        height: 35px;
        line-height: 30px;
        padding-bottom: 10px;
        font-weight: 900;
        letter-spacing: 0.7px;
    }
    .related-events-content
    {
        .related-events-box
        {
            margin: 15px 0px;
            height: auto;
            line-height: 40px;
            position: relative;
            width: 100%;
            display: flex;
            .related-events-img-content
            {
                flex-shrink: 1;
                .related-events-img
                {

                    height: 40px;
                    line-height: 40px;
                    width:40px;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    background-color: $mainColor;
                    img
                    {
                        object-fit: cover;
                        max-width: 100%;
                        border-radius: 100%;
                    }
                }
            }
            .related-events-name
            {
                height: auto;
                line-height: 20px;
                font-size: 11px;
                line-height: normal;
                small {
                    display: inline-block;
                    padding: 0px 2px;
                    height: auto;
                    line-height: 20px;
                    font-size: 10px;
                    color:$mainGray;
                    line-height: normal;
                    a
                    {
                        color:$mainColor;
                    }
                    &.name
                    {
                        font-size:10px;
                        color:$whitecolor;

                    }
                }
            }
            .related-events-button
            {
                height: 20px;
                line-height: 20px;
                display: inline-block;
                padding: 0px 5px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: $mainColor;
                border:1px solid $mainColor;
                color:$whitecolor;
                font-size:11px;
                cursor:pointer;
                &:hover
                {
                    background:transparent;
                }
            }
        }
    }

    .related-events-seemore
    {
        text-align: center;
        a
        {
            color: $mainColor !important;
            font-size:10px;
            font-weight: 100;
        }
    }
}

.left-banner
{
    position:relative;
    padding-right:10px;
    .banner-header
    {
        position: absolute;
        width: 80%;
        background-color: #ff4800 !important;
        padding: 1rem 1rem 0 1rem;
        text-align: right;
        margin-top: 60%;
        .banner-triangle-right
        {
            position: absolute;
            right: -12px;
            height: 25px;
            width: 25px;
            top: -12px;
            background-color: #000;
            transform: rotateZ(45deg);
            border-top-left-radius: 60px;
        }
        h3
        {
            color:$whitecolor;
            font-weight: 500;
            font-size: 18px;
            margin:0px;
        }
        p
        {
            font-size:12px;
            color:$whitecolor !important;
            font-weight: 100;
            margin:0px;
        }
    }
    img
    {
        object-fit: cover;
        width: 100%;
    }
}




/* like button start  */

.heart-pulse
{
    animation-name: heartpulse;
    animation-duration: 2s;
}
.fa-heart, fa-users
{
    color:#ff4800;
}

.block-content
{
    border-radius: 3px;
    background-color: #14191C;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #313131;
}


.menu
{
    ul
    {

        li
        {
            transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            &:hover
            {
                padding-left:5px;
                transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
                a
                {
                    span
                    {
                        font-size: 15.5px;
                        margin-right: 20px;
                        margin-left: 5px;
                        transition: all .2s ease-in;
                        -moz-transition: all .2s ease-in;
                        -webkit-transition: all .2s ease-in;
                        -ms-transition: all .2s ease-in;
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                    }

                }
            }
            a
            {
                color: $whitecolor;
                text-decoration: none;
                padding: 10px 0px;
                span
                {
                    color:$mainColor;
                    font-size: 15.5px;
                    margin-right: 16px;
                    transition: all .2s ease-in;
                    -moz-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    -ms-transition: all .2s ease-in;
                }
            }
        }
    }
}
/* menu animation finish  */



/* about animation start  */
.about-event
{
    display: flex;
    .about-event-title
    {
        color:$mainColor;
        flex-shrink: 1;
        padding: 0px 2rem;
        text-align: center;
        white-space: nowrap;

    }
    .about-event-content
    {
        color:$whitecolor;
    }
    .about-event-button
    {
        .about-event-pencil
        {
            height: 25px;
            width: 25px;
            line-height: 25px;
            text-align: center;
            border-radius: 100%;
            cursor:pointer;
            transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;

            span
            {
                color:$whitecolor;
                transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
            }
            &:hover
            {
                background: $sectionInnerColor;
                transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;

                span
                {
                    color:$mainColor;

                }
            }
        }
    }
}
/* about animation finish   */