header{
    background-color: $sectionBg;
    padding: 0 50px;
    color: #fff;
    ul li{
        position: relative;
        height: 45px;
    }

    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #fff;
                &:focus,&:hover{
                    color: #fff;
                }
                &:after{
                    border: none;
                }
                &.icon-friend:before,&.icon-notification:before{
                    font-size: 33px;
                }
            }
            .nav-item-count{
                position: absolute;
                right: -5px;
                font-size: 11px;
                text-align: center;
                color: #fff;
                padding: 4px 5px;
                line-height: 0.75;
                border-radius: 12px;
                background-color: #f05a24;
            }
            .header-ava{
                img{
                    height: 35px;
                    border-radius: 18px;
                }
                margin-left: 12px;
            }
            .header-ava-text{
                padding: 5px;
                &::after{
                    font-family: 'icomoon';
                    content: '\e904';
                    font-size: 9px;
                }
            }
        }
    }

    .navbar-brand{
        img{
            height: 50px;
        }
    }

    .nav-search{
        form{
            position: relative;
        }
        .icon-search{
            width: 15px;
            height: 15px;
            position: absolute;
            left: 12px;
        }
        input{
            min-width: 50%;
            background-color: #36393F;
            border: 0;
            border-radius: 0.6rem;
            padding-left: 40px;
            &:focus{
                border: 0;
                outline: 0;
                background-color: #36393F;
                box-shadow: none;
                color: #fff;
            }
        }
    }
}

.followers-popup{
    .popup-content {
        background-color: $lightGray !important;
        border: 1px solid $lightGray !important;
        padding: 0 !important;
        >div{
            background-color: $lightGray !important;
        }
    }

    .popup-content{
        border-radius: 3px;
        width: 380px !important;
        .followers-header{
            padding: 3px 10px;
        }
        .followers-list{
            background-color: $darekerGray;
            margin: 0;
            padding: 0;
            max-height: 320px;
            overflow-y: auto;
            .dd-btn{
                font-size: 12px;
            }
            li{
                @extend .container;
                height: auto;
                list-style: none;
                a{
                    color: $white;
                    border-bottom: none;
                }
                .user-list-user-name{
                    line-height: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
                .user-list-user{
                    width: 125px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .user-list-username{
                        display: block;
                    }
                }
                .actions{
                    @extend .col;
                    @extend .p-0;
                    padding-top: 11px !important;
                }
            }
        }

        .notification-list{
            @extend .followers-list;
            .notification-time{
                color: $mainColor;
            }
            .user{
                border-bottom: 1px solid $halfGray;
            }
            li .user-list-user{
                width: auto;
                max-width: initial;
            }
            li .user-list-user-name{
                font-size: 15px;
                text-overflow: unset;
            }
        }
    }
}