body{
    background-color: #000;
    color: #fff;
}

.main-color{
    color: $mainColor !important;
}

.light-gray{
    color: $lightGray
}

.block-color{
    color: $darkGray;   
}

.dd-block{
    background-color: $darkGray;   
    border-radius: 3px;
    padding: 15px;
}

.react-tabs__tab{
    z-index: 0;
    font-weight: 900;
}

.content-bottom{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

@import './switch';

@import './schedule';

@import './modal.scss';

@import './event.scss';

@import './dudes.scss';

@import './game.scss';

@import './my-games.scss';

@import './page-feed.scss';