body{
    background-color: #000;
    color: #fff;
}

.main-color{
    color: $mainColor !important;
}

.react-tabs__tab{
    z-index: 0;
    font-weight: 800;
}

.content-bottom{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

@import './switch';

@import './schedule';

@import './modal.scss';

@import './event.scss';

@import './dudes.scss';