body{
    background-color: #000;
    color: #fff;
}

.main-color{
    color: $mainColor !important;
}

.react-tabs__tab{
    z-index: 0;
}

@import './switch';

@import './schedule';

@import './modal.scss';