.menu{
    padding-top: 60px;
    width: 225px;
    margin:0px 15px 15px 0px;
    @include menu-box-shadow();
    @include border-radius(3px);
    
    ul{
        padding: 0;
        li{
            transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            list-style: none;
            padding: 0 10px;


            a{
                color: $white;
                text-decoration: none;
                padding: 10px 0px;
                position: relative;
                overflow: hidden;
                line-height: 0;
                display: block;
                text-transform: uppercase;
                .icon{
                    color: $mainColor;
                }
                .icon-schedule{
                    font-size: 15.5px;
                    margin-right: 10px;
                }
                span{
                    color:$mainColor;
                    font-size: 15.5px;
                    margin-right: 16px;
                    transition: all .2s ease-in;
                    -moz-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    -ms-transition: all .2s ease-in;
                    width: 15px;
                    display: inline-block;
                    text-align: center;
                }
                &.active{
                    color: #fff;
                    &:after{
                        @include right-edge-cut(0, #495766);
                    }
                }

                .icon-info{
                    font-size: 15.5px;
                    margin-right: 10px;
                }
                .icon-fist{
                    margin-right: 10px;
                }
                .icon-basket{
                    margin-right: 10px;
                }
                .icon-group{
                    margin-right: 10px;
                }
                .icon-binocolo{
                    margin-right: 10px;
                }
            }

            &:hover
            {
                padding-left:5px;
                transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
                a
                {
                    span
                    {
                        font-size: 15.5px;
                        margin-right: 20px;
                        margin-left: 5px;
                        transition: all .2s ease-in;
                        -moz-transition: all .2s ease-in;
                        -webkit-transition: all .2s ease-in;
                        -ms-transition: all .2s ease-in;
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                    }

                }
            }
        }
    }
}