.menu{
    padding-top: 60px;
    width: 225px;
    ul{
        padding: 0;
        li{
            list-style: none;
            padding: 0 10px;
            a{
                position: relative;
                overflow: hidden;
                padding: 10px;
                line-height: 0;
                display: block;
                text-decoration: none;
                color: #CBCBCB;
                text-transform: uppercase;
                .icon{
                    color: $mainColor;
                }
                .icon-schedule{
                    font-size: 15.5px;
                    margin-right: 10px;
                }
                span{
                    width: 15px;
                    display: inline-block;
                    text-align: center;
                }
                &.active{
                    color: #fff;
                    &:after{
                        @include right-edge-cut(0, #ff480020);
                    }
                }

                .icon-info{
                    font-size: 15.5px;
                    margin-right: 10px;
                }
                .icon-fist{
                    margin-right: 10px;
                }
                .icon-basket{
                    margin-right: 10px;
                }
                .icon-group{
                    margin-right: 10px;
                }
                .icon-binocolo{
                    margin-right: 10px;
                }
            }
        }
    }
}