.menu{
    padding-top: 60px;
    width: 225px;
    ul{
        padding: 0;
        li{
            list-style: none;
            padding: 0 10px;
            a{
                position: relative;
                overflow: hidden;
                padding: 10px;
                line-height: 0;
                display: block;
                text-decoration: none;
                color: #CBCBCB;
                text-transform: uppercase;
                .icon-schedule{
                    font-size: 12.5px;
                }
                span{
                    width: 15px;
                    display: inline-block;
                    text-align: center;
                    &::before{
                        color: #B2B2B2;
                    }
                }
                &.active{
                    &:after{
                        @include right-edge-cut(0, #2F3136);
                    }
                }
            }
        }
    }
}