.dd-modal{
    background-color: $postBack !important;
    border: 0 !important;
    padding: 0 !important;
    border-radius: 3px;
    overflow: hidden;
    max-height: 100vh;
    &.fit-width{
        width: auto !important;
    }
    .dd-modal-header{
        background-color: $mainColor;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            margin: 0
        }
        .close{
            cursor: pointer;
        }
    }

    .dd-modal-footer{
        padding: 10px;
        text-align: right;
        .dd-btn{
            float: none !important;
        }
        .dd-btn + .dd-btn{
            margin-left: 10px;
        }
        &:after{
            clear: both;
            content: ' ';
            display: inline-block;
        }
        .processing-indicator{
            float: left;
            display: none;
        }
    }

    &.processing{
        .dd-modal-footer{
            .processing-indicator{
                display: inline-block;
            }
        }
    }
}

.dd-tooltip{
    .icon-more{
        font-size: 6px;
    }
    .popup-content{
        border-radius: 3px;
        padding: 0 !important;
        width: auto !important;
        background-color: $postBack !important;
        border: none !important;
        box-shadow: rgba(255, 63, 17, 0.15) 0px 0px 2px 2px !important;
        max-width: 250px !important;
        white-space: normal;
        >div{
            background-color: $postBack !important;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
}