.select-games-banner
{
    text-align: center;
    position: relative;
    font-family: 'Roboto',sans-serif;
    .banner-opacity
    {
        height: 100%;
        position: absolute;
        width: 100%;
        background: #000;
        opacity: 0.5;
    }

    .banner-header
    {
        position: absolute;
        bottom: 24%;
        width: 100%;
        .banner-titles
        {
            position: relative;
            display: inline-block;
            margin: 0px auto;
            h3
            {
                font-weight: 900;
                font-size:40px;
            }
            h4
            {
                font-weight: 400;
                font-size:32px;
            }
            .banner-border
            {
                height: 3px;
                hr
                {
                    width: 60%;
                    background-color: $mainColor;
                    height: 3px;
                }
            }
        }
    }
    img
    {
        width:100%;
    }



}

.select-game-container
{
    padding: 0px 50px;
}

.search-games
{
    background-color: $postBack;
    border-top:1px solid $strokeColor;
    border-bottom:1px solid $strokeColor;
    padding: 1rem 0;
    .games-selected
    {
        select
        {
            cursor:pointer;
            background-color: $strokeColor;
            border: 0px !important;
            color:$white;
            font-size: 16px;
            font-weight: 900;
            height: 50px;
            line-height: 40px;

            background-image:
                    linear-gradient(45deg, transparent 50%, $mainColor 50%),
                    linear-gradient(135deg, $mainColor 50%, transparent 50%),
                    linear-gradient(to right, $strokeColor, $strokeColor);
            background-position:
                    calc(100% - 25px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px),
                    100% 0;
            background-size:
                    10px 15px,
                    10px 15px,
                    2.5em 2.5em;
            background-repeat: no-repeat;

            -webkit-appearance: none;
            -moz-appearance: none;
            &::-ms-expand {
                display: none;
            }
        }
    }
    .games-search
    {
        bottom: 0px;
        .input-group
        {
            .input-group-prepend
            {
                span
                {
                    background: $strokeColor;
                    border:0px;
                    cursor:pointer;
                    color:$mainColor;
                    cursor:pointer;
                }
            }
            input
            {
                border-left: 1px solid #989898;
                background: $strokeColor;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                color:$white;
                height: 50px;
                line-height: 50px;
                font-weight: 900;
                font-size: 16px;
                &::placeholder
                {
                    color:$white;
                }
            }
        }
    }



}


    .select-games-content
    {

        .select-games-sort
        {
            padding: 2rem 0px;


            small
            {
                color:$lightGray;
                font-size: 12px;
                font-weight:400;
                padding: 0px 1rem;
                cursor:pointer;
                &:first-child
                {
                    padding-right:3rem;
                    padding-left:0;
                }
            }

        }

        .select-games-section
        {

            .col-md-4
            {


            .select-game-box
            {
                float: left;
                width: 100%;
                padding: 15px 0;
                border-bottom:1px solid $strokeColor;

                .select-game-img
                {
                    float: left;
                    width:50%;
                    position: relative;
                    img {
                        width: 100%;
                        object-fit: cover;
                        max-height: 130px;
                    }
                    .triangle-right{
                        border-bottom: none;
                        right: -16px;
                        height: 19px;
                        width: 40px;
                        top: -2px;
                        background-color: $bodyColor;
                    }
                }




                .select-game-box-inside
                {
                    float: left;
                    width: 50%;
                    padding: 0px 0 0 0.5rem;
                    position: relative;
                    h3
                    {
                        font-size:16px;
                        font-weight: 900;
                        color:$mainColor;
                        float: left;
                        width: 100%;
                    }
                    p
                    {
                        font-size:12px;
                        float: left;
                        width: 100%;
                        margin-bottom: 0.5rem;
                    }
                    small
                    {
                        font-size:12px;
                        float: left;
                        width: 100%;
                    }
                    input[type=submit]
                    {
                        float: left;
                        height: 25px;
                        line-height: 25px;
                        font-size:14px;
                        background:none;
                        color:$mainColor;
                        padding: 0px 0.5rem;
                        border:1px solid $mainColor;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        margin-top:1rem;
                        cursor:pointer;
                        &:hover, &.active
                        {
                            background-color:$mainColor;
                            color:$white;
                        }
                    }
                }
            }
            }
        }
    }