.popup-overlay{
    background-color: rgba(117, 117, 117, 0.75) !important;
}
.popup{
    overflow: hidden;
    border-radius: 4px;
    background-color: $sectionBg;
    color: black;
    .popup-header{
        padding: 10px;
        background-color: $grayText;
        display:  flex;
        justify-content: space-between;
        h2{
            margin:  0;
            font-size: 19px;
        }
        .title{
            font-size: 12px;
        }
        .close{
            color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
        }
    }

    .popup-content{
        padding: 10px 0 0 10px;
        max-height: 70vh;
        overflow: hidden;
        overflow-y: auto;
        .content{
            max-height: 45vh;
            overflow-y: auto;
        }
    }

    .popup-footer{
        border-top: 1px solid $delimiterColor;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        button{
            margin-left: 10px;
        }
    }
}