@mixin right-edge-cut( $top, $color ) {
    content: '';
    position: absolute;
    width: 1100%; height: 1100%;
    top: $top; 
    right: -500%;
    background: $color;
    transform-origin: 54% 0;
    transform: rotate(45deg);
    z-index: -1;
}

@mixin section-default {
    border-radius: $sectionBorderRadius;
    padding: $sectionPadding;
    margin-bottom: $sectionTop;
    background-color: $sectionBg;
}

@mixin section-delimiter {
    border-bottom: 1px solid $lightGray;
    margin: 0 ($sectionPadding * -1);
    padding: 0 $sectionPadding;
}

@mixin secondary-delimiter {
    border-bottom: .5px solid $lightestGray;
    margin: 0 ($sectionPadding * -1);
    padding: 0 $sectionPadding;
}

@mixin section-border-radius(){
    border-radius: $sectionBorderRadius
}

@mixin user-photo($h){
    width: $h;
    height: $h;
    border-radius: $h / 2;
    display: block;
    overflow: hidden;
    img{
        width: 100%;
    }
}

@mixin input-border-radius() {
    border-radius : 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
}

@mixin status-buble($h) {
    content:  ' ';
    display: inline-block;
    height: $h;
    width: $h;
    background-color: green;
    border-radius: $h / 2;
    margin-right: $h / 2;
}