/** global variable decloraton */
$mainColor: #F15A24;
$green: #31EF26;
$halfWhite: #ffffff99;
$mainGray: #CBCBCB;
$darkGray: #202225;
$darekerGray: #36393F;
$halfGray: #2F3136;
$lighterGray: #3E3F42;
$lightGray: #484B52;
$gameReview:#1e2528;
$lightestGray: #42464D;
$postBack: #14191C;
$postDelimiter: #293235;
$yellow: #f7931e;
$red: #c1272d;

/** old declarations */
$white: #ffffff;
$grayText: #989898;
$sectionBg: #202225;
$sectionInnerColor: #484B52;
$delimiterColor: #CBCBCB;
$sectionBorderRadius: 3px;
$sectionTop: 15px;
$sectionPadding: 10px;
$commentBottom: 10px;
$commentMargin: 10px;

/** use bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import "./icomoon/style";

@import '~https://fonts.googleapis.com/css?family=Roboto:400,500,900';

body{
    font-family: 'Roboto', sans-serif;
}

/** global hooks */
@import './mixin/default';

@import './global/scrollbar';

@import './global/form-elements';

@import './global/button';

@import './global/main';

@import './global/nav-tabs';

@import './global/user-list-item';

/** global Pop up container styles */
@import './global/popup';

/** login */
@import './login-register/main';

/** Header */
@import './global/header';

/** Profile */
@import './profile/main';

/** Aside Menu Navigation */
@import './global/menu';

/** Post creation */
@import './global/create-post';

/** Post View */
@import './global/post';

/** Post View */
@import './global/comment';


/** Settings Page */
@import './settings/main';

/** Search Page */
@import './search/main';

/** Chat */
@import './chat/main';