.dd-block-shadow{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
}

.profile-aside{
    width: 20.9%;
    padding-left: 10px;
    .block-friends{
        .dd-modal{
            .react-tabs{
                margin: 10px 10px 0;
            }
            .content{
                max-height: 75vh;
                overflow-y: auto;
                margin-right: -10px;
                padding-right: 10px;
            }
        }
    }
    .friends{
      position: relative;
        .group-back
        {
            height: 100%;
            width: auto !important;
            position: absolute;
            left: 0px;
            top: 0;
        }
        .header{
            .aside-firends-icon{
                font-size: 21px;
            }
        }
        .dec{
            height: 82px;
            width: auto !important;
            position: absolute;
            right: -48px;
            bottom: -7px;
            opacity: 0.5;
        }


    }
    .block{
        @extend .dd-block-shadow;
        @include section-border-radius();
        background-color: $postBack; 
        padding: 10px;
        overflow: hidden;
        border: 1px solid #313131;

        +.block{
            margin-top: $sectionTop;
        }

        a{
            color:  #d1d1d1;
            text-decoration: none;
        }

        &.my-games{
            //background-image: url('../img/my_games_back.png');
            background-repeat: no-repeat;
            background-position: 2px 0px;
            padding: 0px;
            .header{
                position: relative;
                padding: 5px 0 0 5px;
                overflow: hidden;
                a{
                    color: $white;
                    .items-count{
                        color: $white !important;
                    }
                }

                .game-star
                {
                    position: absolute;
                    height: 15px;
                    text-align: center;
                    width: 40%;
                    top: 0;
                    transform: rotate(70deg);
                    right: -12%;
                    background: $mainColor;
                    img
                    {
                        height: 12px;
                        width: 12px;
                        margin-left: 19%;
                        margin-bottom: 11px;
                    }
                }
            }
            .block-content
            {
                padding: 0 0 15px 0;
                border: 0;
                border-radius: 0;
            }
        }

        .header{
            h3{
                text-transform: uppercase;
                margin-left: 5px;
                display: inline-block;
                font-size: 12px;
                padding: 0 5px;
                font-weight: 900;
                letter-spacing: 0.7px;
            }
            .items-count{
                font-size: 12px;
                color: $grayText;
            }
            .icon-group{
                font-size: 18px;
            }
        }

        .block-content{
            padding: 5px;
            position: relative;
            img{
                width: 100%;
            }
            .item-title{
                font-size: 13px;
                line-height: 1;
                height: 14px;
                display: inline-block;
                color: $white;
                padding: 2px 0;
                overflow: hidden;
            }
            .item-details{
                color: $white;
                font-size: 11px;
            }
            time{
                color: $mainColor;
                font-size: 10px;
            }

            .friends{
                .friend{
                    width: 33.33335%;
                    display: inline-block;
                    float: left;
                    overflow: hidden;
                    max-height: 75px;
                    margin-bottom: 5px;
                    img{
                        border-radius: 115px;
                        height: 45px;
                        width: 45px;
                        display: block;
                        margin: 0 auto;
                    }
                    h2{
                        font-size: 12px;
                        text-align: center;
                        height: 21px;
                    }
                    .search-more{
                        &:before{
                            @extend .icon-plus;
                            color: $mainColor;
                            position: absolute;
                            margin: -16px 0 0 14px;
                            font-size: 22px;
                            top: 50%;
                        }
                        background-color: $halfGray;
                        position: relative;
                        margin-left: 10px;
                        width: 50px;
                        height: 50px;
                        display: inline-block;
                        font-family: 'icomoon';
                        border-radius: 50%;
                    }
                }
                &:after{
                    content: ' ';
                    clear: both;
                    display: block;
                }
            }
        }
    }
}