.search-results{
    @extend .user-settings;
    min-height: 450px;
    .content{
        max-width: none;
        padding: 30px 55px;
        .row{
            border-top: none;
        }
    }
}

@import 'user-list-item';
@import 'search-field';