.user-ava{
    border-radius: 30px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    img{
        width: 100%;
    }
}

.search-item-user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}